.addgoods {
	margin-bottom: 20px;
}

.addgoods__formcategories {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.addgoods__formcategories .addgoods__formgroup {
	width: calc(25% - 15px);
	margin-bottom: 20px;
	display: flex;
	@include media-breakpoint-only(md) {
		width: calc(50% - 15px);
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
	
}

.addgoods__steps {
	border: 3px solid #b1b0b0;
	padding: 20px;
}
.addgoods__tabs {
	display: flex;
	flex-wrap: wrap;
	//height: 75px;
	background-color: #c4c4c4;
	margin-left: -23px;
	margin-right: -23px;
	margin-top: -23px;
	margin-bottom: 20px;
}
.addgoods__tab {
	&--active {
		color: #fff;
		background-color: $accent;
	}
	&--last {
		color: #fff;;
	}
	line-height: 75px;
	height: 75px;
	padding-left: 20px;
	padding-right: 20px;
	color: #007ba5;
	@include media-breakpoint-down(sm) {
		width: 100%;
		height: 35px;
		line-height: 35px;
	}
}

.checkbox input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__text:before {
	content: '✓';
	display: block;
	width: 26px;
	height: 26px;
	border: 1px solid #000;
	background: #fff;
	transition: .2s;
	margin-right: 10px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	flex-grow: 1;
	flex-shrink: 0;
}
.checkbox__text {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	position: relative;
	cursor: pointer;
	line-height: 26px;
}
.checkbox input[type="checkbox"]:checked + .checkbox__text:before {
	content: '✓';
	color: $accent;
	font-size: 20px;
	text-align: center;
	transition: .2s;
}


.radio input[type="radio"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.radio__text:before {
	content: '●';
	display: block;
	width: 26px;
	height: 26px;
	border: 1px solid #000;
	background: #fff;
	transition: .2s;
	margin-right: 10px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	line-height: 22px;
	flex-grow: 1;
	flex-shrink: 0;
}
.radio__text {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 1px;
	position: relative;
	cursor: pointer;
	line-height: 26px;
}
.radio input[type="radio"]:checked + .radio__text:before {
	content: '●';
	color: $accent;
	font-size: 25px;
	text-align: center;
	transition: .2s;
}

.addgoods__formsave {
	cursor: pointer;
	background-color: $accent;
	color: #fff;
	letter-spacing: 1px;
	font-size: 14px;
	border: none;
	height: 40px;
	width: 300px;
	line-height: 40px;
	display: block;
	text-align: center;
	padding: 0;
	&:hover {
		background-color: lighten($accent, 10%);
		color: #fff;
		text-decoration: none;
	}
}
