.brands {
	display: flex;
	flex-wrap: wrap;
}
.brands__item {
	display: flex;
	width: 25%;
	text-align: center;
	margin-bottom: 10px;
	@include media-breakpoint-only(sm) {
		width: 33.333%;
	}
	@include media-breakpoint-down(xs) {
		width: 50%;
	}
}
.brands__item img {
	object-fit: cover;
	max-width: 100%;
	margin: auto;
	//width: 100%;
}
.brands__title {
	width: 100%;
	font-size: 20px;
	font-weight: normal;
	color: $accent;
	//margin-bottom: 40px;
	letter-spacing: 1px;
	text-align: center;
}
.brands__descr {
	font-size: 15px;
	color: #313030;
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
}