.breadcrumbs {
	margin-bottom: 20px;
}
.breadcrumbs__list {
	display: flex;
	list-style-type: none;
}
.breadcrumbs__item {
	margin-right: 15px;
	font-size: 11px;
	color: #515050;
	letter-spacing: 1px;
	&:after {
		content: '>';
		margin-left: 10px;
	}
	&:last-of-type {
		&:after {
			content: '';
			margin-left: 0;
		}
	}
}
.breadcrumbs__link {
	color: #515050;
}