.card {
	border: none;
	display: block;
	position: relative;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 250px;
	margin: auto;
	//justify-content: space-between;
	height: 100%;
	hr {
		height: 1px;
		width: 100%;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

.card__img {
	width: auto;
	margin-bottom: 14px;
	margin: auto;
	object-fit:content;
	width: 100%;
}
.card__linkimg {
	margin: auto;
}

.card__label {
	
	position: absolute;
	background-color: #4bbb50;
	width: 54px;
	height: 18px;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 18px;
	color: #fff;
	text-align: center;
	top: 0;
	left: 0;
	&--hit {
		background-color: #007ba5;
	}
	&--sale {
		background-color: $accent;
	}
}
.card__title {
	font-size: 15.5px;
	letter-spacing: 1px;
	margin-top: auto;
	margin-bottom: 0;
}
.card__title a {
	color: #4f4d4d;
}
.card__status {
	font-weight: bold;
	color: #4f4d4d;
	font-size: 9px;
	margin-bottom: 0;
	//margin-top: auto;
}
.card__price-tocart {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
}
.card__price {
	color: $accent;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	margin-right: 10px;
}
.card__oldprice {
	color: #4f4d4d;
	text-decoration:line-through;
}
.card__tocart {
	background-color: $accent;
	color: #fff;
	border: none;
	border-radius: 6px;
	height: 28px;
	display: block;
	line-height: 29px;
	font-size: 10px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: #fff;
		background-color: lighten($accent, 10%);
		cursor: pointer;
	}
	i {
		font-size: 13px;
	}
}

.card__options {
	color: #007ba5;
	font-size: 10px;
}

.card__wishes {
	margin-top: 10px;
	color: $accent;
	text-align: center;
	&:hover {
		color: lighten($accent, 10%);
	}
}