.cart__title {
	font-size: 22px;
	color: $accent;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.cart__table {
	width: 100%;
	min-width: 600px;
}
.cart__head {
	color: #737272;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
	border-bottom: 1px solid  #bfbfbf;;
}
.cart__th {
	padding-bottom: 15px;
}
.cart__th:nth-child(4) {
	text-align: right;
}

.cart__td {
	padding: 5px 0;
}

.cart__item:nth-child(2n) {
	background-color: #e6e6e6;
}

.cart__td:nth-child(1) {
	width: 30%;
}
.cart__td:nth-child(2) {
	width: 20%;
	color: $accent;
	letter-spacing: 1px;
	padding: 0 5px;
}
.cart__td:nth-child(3) {
	width: 20%;
	letter-spacing: 1px;
	color: #323232;
	padding: 0 5px;
}
.cart__td:nth-child(4) {
	width: 30%;
	letter-spacing: 1px;
	color: #323232;
	text-align: right;
	padding: 20px;
}

.cart__product {
	display: flex;
}
.cart__product img {
	max-width: 100px;
	object-fit: contain;
	margin-right: 20px;
}
.cart__product-img {
	padding: 10px;
}
.cart__product-descr {
	display: flex;
	padding: 10px;
	color: #323232;
	font-size: 12px;
	letter-spacing: 1px;
}

.cart__delete {
	display: block;
	margin-top: 10px;
	color: #343434;
	text-decoration: underline;
	font-size: 14px;
	font-weight: bold;
}

.cart__total {
	text-align: center;
	margin-bottom: 20px;
}
.cart__total span {
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
}
.cart__order {
	display: flex;
	margin-bottom: 20px;
}
.cart__orderbtn {
	margin-left: auto;
	border: none;
	height: 38px;
	width: 180px;
	display: block;
	background-color: $accent;
	color: #fff;
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: lighten($accent, 10%);
	}
	@include media-breakpoint-down(sm) {
		margin-right: auto;
	}
}