.category {
	display: flex;
	flex-wrap: wrap;
}
.category__item {
	width: 25%;
	text-align: center;
	display: flex;
	overflow: hidden;
	border: 1px solid #a6a6a6;
	@include media-breakpoint-only(sm) {
		width: 33.333%;
	}
	@include media-breakpoint-down(xs) {
		width: 50%;
	}
	
	position: relative;
	flex-direction: column;
	&--alt {
		width: calc(25% - 30px);
		margin-left: 15px;
		margin-right: 15px;
		border: none;
		@include media-breakpoint-down(xs) {
			width: calc(50% - 30px);;
		}
	}
}
.category__name {
	position: absolute;
	font-size: 18px;
	bottom: 0;
	text-align: center;
	width: 100%;
	background-color: rgba(168, 26, 40, 0.85);
	color: #fff;
	font-weight: normal;
	letter-spacing: 1px;
	padding: 7px 0;
	&--alt {
		position: static;
		background-color: #fff;
		color: #000;
		font-size: 15px;
		color: #343434;
		margin-bottom: 30px;
	}
}
.category__item img {
	object-fit: cover;
	width: 100%;
	//margin: auto;
}
.category__title {
	width: 100%;
	font-size: 20px;
	font-weight: normal;
	color: $accent;
	margin-bottom: 40px;
	letter-spacing: 1px;
	text-align: center;
}
