.collections {
	padding-top: 30px;
}
.collections__list {
	display: flex;
	flex-wrap: wrap;
}
.collections__separator {
	height: 1px;
	background-color: #000;
	margin-top: 20px;
	margin-bottom: 20px;
}
.collections__item {
	width: calc(25% - 2px);
	border: 1px solid transparent;
	margin-bottom: 30px;
	&:hover {
		box-shadow: 3px 3px 5px 0px rgba(207,207,207,0.91);
		border: 1px solid #b8b8b8;
	}
}
.collections__all {
	color: #086788;
	display: block;
	text-align: center;
	font-size: 18px;
	letter-spacing: 2px;
	&:hover {
		text-decoration: none;
		color: lighten(#086788, 10%);
	}
}
@include media-breakpoint-down(xs) {
	.collections__item {
		width: 50%;
	}
}
@include media-breakpoint-only(sm) {
	.collections__item {
		width: 50%;
	}
}
@include media-breakpoint-only(md) {
	.collections__item {
		width: 50%;
	}
}
.collections__title {
	font-family: 'FlashBold';
	color: #4f4d4d;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	display: flex;
	align-items: center;
	margin-bottom: 82px;
	span {
		flex-grow: 1;
		width: 100%;
		//flex-shrink: 0;
	}
	&:before {
		content: '';
		height: 3px;
		background-color: #706f6f;
		width: 100%;
		display: block;
		flex-grow: 0;
		flex-shrink: 1;
		margin-right: 20px;
	}
	&:after {
		content: '';
		height: 3px;
		background-color: #706f6f;
		width: 100%;
		display: block;
		flex-grow: 0;
		flex-shrink: 1;
		margin-left: 20px;
	}
}