.filters {
	color: #434141;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.filters__group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.filters__item {
	@include media-breakpoint-down(sm) {
		width: 100%;
		margin-bottom: 10px;
	}
}
.filters__price {
	display: flex;
	align-items: center;
	.filters__label {
		margin-right: 10px;
	}
	input {
		border: 1px solid #c8c8c8;
		margin-right: 10px;
		height: 30px;
		width: 100px;
		display: block;
		padding: 5px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	}
}
.filters__marker {
	height: 30px;

	label {
		height: 30px;
		line-height: 30px;
	}
	input:not(:checked),
	input:checked {
	  position: absolute;
	  left: -9999px;
	}
	input:not(:checked) + label,
	input:checked + label {
	  position: relative;
	  padding-left: 40px;
	  cursor: pointer;
	}
	input:not(:checked) + label:before,
	input:checked + label:before {
	  content: '';
	  position: absolute;
	  left: 0; top: 0;
	  width: 30px; height: 30px;
	  border: 1px solid #c8c8c8;
	  background: #fff;
	  border-radius: 0;
	  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
	}
	input:not(:checked) + label:after,
	input:checked + label:after {
	  content: '✔';
	  position: absolute;
	  top: 3px; left: 5px;
	  font-size: 25px;
	  line-height: 25px;
	  color: $accent;
	  transition: all .2s;
	}
	input:not(:checked) + label:after {
	  opacity: 0;
	  transform: scale(0);
	}
	input:checked + label:after {
	  opacity: 1;
	  transform: scale(1);
	}
	input:disabled:not(:checked) + label:before,
	input:disabled:checked + label:before {
	  box-shadow: none;
	  border-color: #bbb;
	  background-color: #ddd;
	}
	input:disabled:checked + label:after {
	  color: #999;
	}
	input:disabled + label {
	  color: #aaa;
	}
	input:checked:focus + label:before,
	input:not(:checked):focus + label:before {
	  border: 2px dotted blue;
	}
}
.filters__submit {
	background-color: $accent;
	color: #fff;
	letter-spacing: 1px;
	height: 30px;
	border: none;
	display: block;
}

.sorting {
	display: flex;
	//height: 40px;
	border: 1px solid #c8c8c8;
	justify-content: space-around;
	flex-wrap: wrap;
}
.sorting__item {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #434141;
	letter-spacing: 1px;
	padding: 0 10px;
	flex-grow: 1;
	text-align: center;
	position: relative;
	&:after {
		content: '';
		width: 1px;
		height: 30px;
		background-color: #c8c8c8;
		display: block;
		position: absolute;
		top: 5px;
		right: 0;
	}
	&:last-of-type {
		&:after {
			display: none;
		}
	}
	&--active {
		color: $accent;
	}
	&:hover {
		color: #434141;
		background-color: #c8c8c8;
	}
}