.footer {
	background-color: #212020;
	color: #fff;
	padding: 40px 0;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}
.footer a {
	color: #fff;
}
.footer__cols {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.footer__col {
	width: calc(33.333% - 30px);
	margin: 0 15px;
	padding: 0 30px;
}
@include media-breakpoint-only(md) {
	.footer__col {
		padding: 0;
	}
}
@include media-breakpoint-down(sm) {
	.footer__col {
		width: 100%;
		padding: 0;
		margin-bottom: 40px;
		text-align: center;
	}
}
.footer__logo {
	width: 198px;
	height: 92px;
	display: block;
	background-image: url(../img/header/logo.png);
	text-indent: -9999px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
@include media-breakpoint-down(sm) {
	.footer__logo {
		margin: auto;
	}
}
.footer__contactstitle,
.footer__mymenutitle,
.footer__formtitle {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 15px;
}
.footer__forminput,
.footer__formtext,
.footer__formsubmit {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	background-color: transparent;
	color: #fff;
	box-shadow: none;
	padding: 0 10px;
	border: 2px solid #fff;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: bold;
}
.footer__formsubmit {
	height: 39px;
	text-align: center;
	width: 180px;
}
@include media-breakpoint-down(sm) {
	.footer__formsubmit {
		margin: auto;
	}
}
// @include placeholder {
// 	color: #fff;
// 	opacity: 1;
// 	font-size: 14px;
// 	letter-spacing: 1px;
// 	font-weight: bold;
// }
.footer__forminput {
	height: 39px;
}
.footer__formtext {
	padding: 10px;
	height: 142px;
}

.footer__mymenuitem {
	list-style-position: inside;
	list-style-type: none;
	margin-bottom: 10px;
}

.footer__copyright {
	text-align: center;
	color: #6c6b6b;
	font-weight: normal;
}
