.categoriespage {
	background-color: #edefee;
	padding: 30px 120px 60px;
	@include media-breakpoint-down(md) {
		padding: 30px 15px 0;
	}
}
.catrgoriespage__content {
	background-color: #fff;
}
.categoriespage__title {
	font-size: 20px;
	color: $accent;
	letter-spacing: 1px;
	font-weight: normal;
	margin-bottom: 30px;
}

.categorypage {
	background-color: #edefee;
	padding: 30px 120px 60px;
	height: auto;
	@include media-breakpoint-down(md) {
		padding: 30px 0 0;
	}
}
.categorypage__content {
	background-color: #fff;
	padding: 15px;
}

.goodspage {
	background-color: #edefee;
	padding: 30px 120px 60px;
	height: auto;
	@include media-breakpoint-down(md) {
		padding: 30px 0 0;
	}
}
.goodspage__content {
	background-color: #edefee;
	padding: 15px;
	&--white {
		background-color: #fff;
	}
}
.cartpage {
	background-color: #edefee;
	padding: 30px 120px 60px;
	height: auto;
	@include media-breakpoint-down(md) {
		padding: 30px 0 0;
	}
}
.cartpage__content {
	background-color: #fff;
	padding: 15px;
	overflow-x: hidden;
}

.addgoodspage {
	background-color: #edefee;
	padding: 30px 120px 60px;
	height: auto;
	@include media-breakpoint-down(md) {
		padding: 30px 0 0;
	}
}
.addgoodspage__content {
	background-color: #fff;
	padding: 15px;
}
.addgoodspage__title {
	font-size: 26px;
	color: $accent;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.sellerpage__content {
	background-color: #f8f9f9;
	padding: 90px 15px;
}
.signpage {
	background-color: #f8f9f9;
	padding: 34px 0;
	background-image: url(../img/sign/signin-bg.jpg);
	background-repeat: no-repeat;
	background-position: 600px center;
	@include media-breakpoint-down(sm) {
		padding: 0;
	}
}
.signpage__content {
	border: 2px solid #c7c7c7;
	margin-left: 120px;
	max-width: 480px;
	box-shadow: 0px 4px 4.85px 0.15px rgba(0, 0, 0, 0.15);
	@include media-breakpoint-down(sm) {
		margin: 0;
		width: 100%;
		border: none;
		max-width: 100%;
	}
}

.mypage {
	background-color: #edefee;
	margin-bottom: 0;
	padding: 60px 120px;
	@include media-breakpoint-down(sm) {
		padding: 0;
	}
}
.mypage__content {
	background-color: #fff;
	overflow: hidden;
	padding: 15px;
}




.totop {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	background-color: #595959;
	height: 55px;
	line-height: 55px;
	&:hover {
		background-color: lighten(#595959, 10%);
		color: #fff;
	}
}

.separator {
	height: 1px;
	width: 100%;
	background-color: #a6a6a6;
	margin-bottom: 40px;
	color: transparent;
	border: none;
	&--tr {
		background-color: transparent;
		border: none;
	}
}

.sidebar {
	padding-top: 20px;
}

.ads {
	margin-bottom: 20px;
	display: block;
	img {
		max-width: 100%;
		margin: auto;
		display: block;
	}
}

.notice {
	padding: 30px;
	background-color: lighten($accent, 40%);
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
	color: $accent;
	border: 2px solid $accent;
	&--ok {
		color: #3ea54a;
		background-color: lighten(#3ea54a, 40%);
		border-color: #3ea54a;
	}
}
