.header {
  background-color: $maincolor;
}
.header__container {
  padding: 20px 0;
}
.header__logo {
  width: 198px;
  height: 92px;
  display: block;
  background-image: url(../img/header/logo.png);
  text-indent: -9999px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
.header__search {
  //margin-bottom: 20px;
  flex-grow: 2;
  margin: 0 15px;
}
.header__searchform {
  border: 1px solid #fff;
  display: flex;
  border-radius: 8px;
  height: 45px;
  overflow: hidden;
  width: 100%;
}
.header__searchinput {
  border: none;
  padding: 0 18px;
  background-color: $maincolor;
  border-right: 1px solid #fff;
  color: #fff;
  flex-grow: 1;
}
.header__searchbutton {
  width: 53px;
  border: none;
  background-color: #a81a28;
  margin-left: auto;
  color: #fff;
  cursor: pointer;
}
.header__searchbutton i {
  font-size: 22px;
  line-height: 45px;
}
.header__searchselect {
  padding: 0 8px;
  border: none;
  border-radius: 0;
  background-color: $maincolor;
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  width: 160px;
  position: relative;
  overflow: hidden;
  &:after {
    content: '\f078';
    font-family: 'Font Awesome 5 Free';
    color: #fff;
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 13px;
    z-index: 1;
  }
}
.header__searchselect select {
  background: transparent;
  color: #fff;
  border: none;
  width: 120%;
  height: 45px;
  text-align: center;
  position: absolute;
  z-index: 2;
}

.header__cart {
  color: #fff;
  margin: 0 15px;
  width: 150px;
  //flex-grow: 1;
  //margin-bottom: 20px;
}
.header__cartlink {
  margin-bottom: 10px;
}
@include media-breakpoint-down(md) {
  .header__cartlink span,
  .header__cartlike span {
    display: none;
  }
  .header__cart {
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
}
.header__cartlink,
.header__cartlike {
  vertical-align: middle;
  line-height: 30px;
  height: 30px;
  display: flex;
  color: #fff;
  font-size: 12px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
  i {
    font-size: 30px;
    margin-right: 16px;
  }
}
.header__cartlike i {
  color: #a81a28;
}

.header__account {
  display: flex;
}
.header__accountlink {
  color: #fff;
  &:first-child:after {
    content: '|';
    margin-left: 5px;
    margin-right: 5px;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

@include media-breakpoint-only(xs) {
  .header__logo {
    margin: auto;
  }
  .header__searchform {
    margin: auto;
    margin-bottom: 20px;
  }
  .header__account {
    justify-content: center;
  }
}
@include media-breakpoint-only(sm) {
  .header__logo {
    margin: auto;
  }
  .header__searchform {
    margin: auto;
    margin-bottom: 20px;
  }
  .header__cart {
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
  .header__account {
    justify-content: center;
  }
}
@include media-breakpoint-only(md) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@include media-breakpoint-only(lg) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@include media-breakpoint-only(xl) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}