.my__title {
	font-size: 22px;
	color: $accent;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.my__tabs {
	display: flex;
	background-color: #323131;
	justify-content: space-between;
	margin-bottom: 20px;
	flex-wrap: wrap;
}
.my__tab {
	color: #f0f0f0;
	font-size: 13px;
	letter-spacing: 2px;
	background-color: #323131;
	width: 25%;
	position: relative;
	&:hover {
		background-color: lighten(#323131, 10%);
	}
	&--active {
		background-color: $accent;
		&:hover {
			background-color: $accent;
		}
	}
	@include media-breakpoint-down(sm) {
		width: 50%;
	}
}
.my__tablabel {
	position: absolute;
	background-color: $accent;
	top: 13px;
	right: 10px;
	height: 25px;
	width: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	font-size: 8px;
	display: block;
}
.my__tab--active .my__tablabel {
	background-color: #000;
}
.my__tablink {
	color: #fff;
	height: 50px;
	line-height: 50px;
	display: block;
	text-align: center;
	width: 100%;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}
.my__menu {
	border: 1px solid #dcdcdc;
	width: 260px;
	padding: 10px 15px;
	@include media-breakpoint-down(sm) {
		width: 100%;
		margin-bottom: 20px;
	}
}
.my__menulink {
	display: block;
	font-size: 13px;
	color: #252424;
	margin-bottom: 20px;
	letter-spacing: 2px;
	&--active {
		color: $accent;
		text-decoration: underline;
	}
	&:hover {
		color: #252424;
	}
}
.my__box {
	border: 1px solid #dcdcdc;
	padding: 10px 15px;
	width: calc(100% - 290px);
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}
.my__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.my__avatar {
	display: block;
	margin: auto;
	max-width: 150px;
}