.nav {
  background-color: #323131;
  //overflow: hidden;
  height: 50px;
}
a.nav__joinbtn {
	background-color: green !important;
	display: inline-block !important;
	height: 40px !important;
	line-height: 40px !important;
	color: #fff !important;
	padding: 0 10px  !important;
	border-radius: 4px 4px 0 0;
	//letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px !important;
	font-weight: 400;
	&:hover {
		text-decoration: none  !important;
		background-color: lighten(green, 10%)  !important;
	}
}