.product {
	display: flex;
	justify-content: space-between;
	background-color: #edefee;
	flex-wrap: wrap;
}

.product__carousel {
	width: calc(50% - 5px);
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
	display: flex;
	img {
		object-fit: cover;
		height: 60%;
		margin: auto;
		@include media-breakpoint-down(sm) {
			width: 100%;
			height: 300px;
		}
	}
	border: 1px solid #dddddd;
	background-color: #fff;
}
.product__details {
	width: calc(50% - 5px);
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
	padding: 20px;
	border: 1px solid #dddddd;
	background-color: #fff;
}
.product__description {
	width: 100%;
	border: 1px solid #dddddd;
	margin-top: 10px;
	background-color: #fff;
	padding: 30px 20px;
	color: #2c2c2c;
	font-size: 13px;
	display: flex;
}
.product__title {
	font-size: 18px;
	font-weight: bold;
	color: #323232;
	letter-spacing: 1px;
	margin-bottom: 20px;
}


.product__seller,
.product__state,
.product__category {
	font-size: 13px;
	color: #2b2b2b;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.product__form {
	margin-top: 40px;
	background-color: #edefee;
	padding: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}


.product__formgroup {
	display: flex;
	// max-width: 250px;
	margin-bottom: 30px;
	align-items: center;
	flex-wrap: wrap;
	&:last-of-type {
		margin-bottom: 0;
	}
	input {
		max-width: 60px;
		padding: 5px;
		text-align: center;
	}
	label {
		color: #222323;
		letter-spacing: 1px;
		margin-bottom: 0;
		flex-grow: 1px;
		width: 125px;
	}
}

.product__imageattrs {
	display: flex;
}
.product__inputgroup {
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		margin-bottom: 10px;
		display: block;
		border: 1px solid #c8c8c8;
	}
	input {
		display: block;
		margin-bottom: 10px;
	}
	span {
		color: #222323;
		font-size: 7px;
		margin-bottom: 10px;
	}
}
.product__formprice {
	color: $accent;
	font-size: 24px;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 10px;
	@include media-breakpoint-down(sm) {
		text-align: center;
	}
}
.product__formbutton {
	display: block;
	height: 25px;
	font-size: 9px;
	background-color: $accent;
	width: 100%;
	text-align: center;
	line-height: 25px;
	color: #fff;
	border-color: none;
	border-radius: 6px;
	margin-bottom: 10px;
	border: none;
	cursor: pointer;
	letter-spacing: 1px;
	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: lighten( $accent, 10%);
	}
	&--yellow {
		background-color: #edc50b;
		color: #000;
		&:hover {
			color: #000;
			background-color: lighten(#edc50b, 10%);
		}
	}
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}

.product__formdetails {
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}


.product__tab {
	background-color: $accent;
	color: #fff;
	letter-spacing: 1px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 180px;
	font-size: 12px;
	position: relative;
	margin-bottom: 20px;
	&:after {
		content: ''; 
	    position: absolute; /* Абсолютное позиционирование */
	    left: 20px; bottom: -20px; /* Положение треугольника */
	    border: 10px solid transparent; /* Прозрачные границы */
	    border-top: 10px solid $accent; /* Добавляем треугольник */
	}
}

.product__description-text {
	width: calc(70% - 30px);
	margin-right: 30px;
}

.product__banner {
	//max-width: 300px;
	flex-grow: 1;
	img {
		width: 100%;
		object-fit: cover;
	}
}