.sellersteps {
	background-color: #edefee;
	display: flex;
	padding: 30px 0;
	justify-content: center;
	position: relative;
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		align-items: center;
	}
}
.sellersteps__step {
	margin-left: 15px;
	margin-right: 15px;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: calc(50% + 15px);
		height: 1px;
		background-color: #595959;
		top: 17px;
		left: -15px;
		z-index: 1;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: calc(50% + 15px);
		height: 1px;
		background-color: #595959;
		top: 17px;
		right: -15px;
		z-index: 1;
	}
	&:first-child {
		&:before {
			display: none;
		}
	}
	&:last-child {
		&:after {
			display: none;
		}
	}
	@include media-breakpoint-down(sm) {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		align-items: center;
		width: 50%;
		&:before, &:after {
			display: none;
		}
	}
}
.sellersteps__number {
	width: 30px;
	height: 30px;
	display: block;
	line-height: 30px;
	border: 1px solid #595959;
	text-align: center;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 16px;
	background-color: #fff;
	position: relative;
	z-index: 2;
	@include media-breakpoint-down(sm) {
		margin: inherit;
		margin-bottom: 0;
		margin-left: 0;
	}
}
.sellersteps__text {
	font-size: 10px; 
	letter-spacing: 1px;
	text-align: center;
	font-size: 12px;

	@include media-breakpoint-down(sm) {
		width: calc(100% - 45px);
		text-align: left;
	}
}

.sellersteps__step--active {
	.sellersteps__text {
		color: $accent;
	}
	.sellersteps__number {
		background-color: $accent;
		color: #FFF;
	}
}
.sellersteps__step--last {
	.sellersteps__number {
		position: relative;
		background-color: #00ff00;
		color: transparent;
		&:after {
			position: absolute;
			height: 30px;
			width: 30px;
			content: '✓';
			left: 0;
			top: 0;
			color: #000;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			padding-right: 4px;
		}
	}
}