
.sellerinfo__form {
	max-width: 350px;
	margin: auto;
}

.sellerinfo__title {
	color: #333333;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 30px;
}
.sellerinfo__submit {
    max-width: 350px;
    margin: auto;
	cursor: pointer;
    background-color: $accent;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    border: none;
    height: 40px;
    width: 100%;
    line-height: 40px;
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
    	text-decoration: none;
    	color: #fff;
    	background-color: lighten($accent, 10%);
    }
}