.sign {
	padding: 45px 50px;
	background-color: #fff;
}
.sign__title {
	color: #262626;
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 50px;
	text-align: center;
}

.sign__formgroup {
	margin-bottom: 20px;
}
.sign__formlabel {
	color: #262626;
	font-size: 12px;
	display: block;
	margin-bottom: 7px;
	letter-spacing: 1px;
}
.sign__forminput {
	height: 25px;
	display: block;
	width: 100%;
	color: #858887;
	font-style: italic;
	font-size: 11px;
	padding: 0 10px;
	box-shadow: none;
	border: 1px solid #bfbfbf;
	line-height: 25px;
}
.sign__formsubmit {
	width: 150px;
	height: 26px;
	background-color: $accent;
	color: #fff;
	text-decoration: none;
	display: block;
	line-height: 26px;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: center;
	border: none;
	cursor: pointer;
	&:hover {
		color: #fff;
		background-color: lighten($accent, 10%);
		text-decoration: none;
	}
}

.sign__formlinks {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 120px;
}

.sign__formlink {
	color: $accent;
	&:hover {
		color: lighten($accent, 10%);
	}
}
.sign__formtext {
	color: #262626;
	letter-spacing: 1px;
	margin-bottom: 60px;
	text-align: center;
}
