// font-family: "RobotoRegular";
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

// font-family: "RobotoMedium";
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/Roboto-Medium.eot");
    src: url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

// font-family: "RobotoBold";
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/Roboto-Bold.eot");
    src: url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "FlashBold";
    src: url("../fonts/Flash-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}