// Подключение шрифтов и переменных
@import "fonts";
@import "../bower_components/font-awesome-5/web-fonts-with-css/scss/fa-solid";
@import "../bower_components/font-awesome-5/web-fonts-with-css/scss/fontawesome";
@import "vars";
@import "sprite";
// Подключение библиотек
@import "../bower_components/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=cyrillic');

*:focus, *:active {
  outline: none;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

//Блоки сайта
@import 'components/header';
@import 'components/_nav';
@import 'components/_carousel';
@import 'components/_collections';
@import 'components/_card';
@import 'components/_sidebar';
@import 'components/_contentarea';
@import 'components/_breadcrumbs';


//Часто используемые компоненты
@import 'components/_global';


//Блоки страниц
@import 'components/_categories';
@import 'components/_brands';
@import 'components/_filters';
@import 'components/_product';
@import 'components/_cart';
@import 'components/_addgoods';
@import 'components/_sellersteps';
@import 'components/_sellerinfo';
@import 'components/_sign';
@import 'components/_my';

// Подключение компонентов
@import "../styles/libs/mega-dropdown-master/style.scss";
@import 'components/footer';

@import '_fixes';