mixin addgoods(type)
	case type
		when 'category'
			- var end;  //- багфикс подсветки
			.addgoods
				.addgoods__steps
					.addgoods__tabs
						.addgoods__tab.addgoods__tab--active Категория
						.addgoods__tab Основная информация
						.addgoods__tab Параметры
						.addgoods__tab Фото
					.addgoods__body
						form.addgoods__form
							h2 Категория 1
							.addgoods__formcategories
								.addgoods__formgroup
									label.radio
										input(type="radio" name="radio")
										span.radio__text Мужская одежда и аксессуары
								.addgoods__formgroup
									label.radio
										input(type="radio" name="radio")
										span.radio__text Женская одежда и аксессуары
								.addgoods__formgroup
									label.radio
										input(type="radio" name="radio" value="radio1")
										span.radio__text Детская одежда и аксессуары
								.addgoods__formgroup
									label.radio
										input(type="radio" name="radio" value="radio2")
										span.radio__text Телефоны и телекоммуникации
							h2 Категория 2
							.addgoods__formcategories
								.addgoods__formgroup
									label.radio
										input(type="radio" name="radio")
										span.radio__text Авто и мото
								.addgoods__formgroup
									label.radio
										input(type="radio" name="radio")
										span.radio__text Часы
								.addgoods__formgroup
									label.radio
										input(type="radio" name="radio" value="radio1")
										span.radio__text Компьютерная техника и ПО
								.addgoods__formgroup
									label.radio
										input(type="radio" name="radio" value="radio2")
										span.radio__text Товары для дома и сада
							button.addgoods__formsave(type="submit") Продолжить »
		when 'main'
			- var end;  //- багфикс подсветки
			.addgoods
				.addgoods__steps
					.addgoods__tabs
						.addgoods__tab.addgoods__tab--last Категория
						.addgoods__tab.addgoods__tab--active Основная информация
						.addgoods__tab Параметры
						.addgoods__tab Фото
					.addgoods__body
						form
							.form-group
								label(for='') Наименование товара
								input.form-control(type='text',placeholder='Наименование товара')
								small#emailHelp.form-text.text-muted Добавьте название товара
							.form-group
								label(for='') Производитель
								input.form-control(type='text', placeholder='Производитель')
							.form-group
								label(for='') Описание
								textarea.form-control(rows='3')
							button.addgoods__formsave(type="submit") Продолжить »
		when 'params'
			- var end;  //- багфикс подсветки
			.addgoods
				.addgoods__steps
					.addgoods__tabs
						.addgoods__tab.addgoods__tab--last Категория
						.addgoods__tab.addgoods__tab--last Основная информация
						.addgoods__tab.addgoods__tab--active  Параметры
						.addgoods__tab.addgoods__tab Фото
					.addgoods__body
						form
							.form-group
								label(for='') Количество
								input.form-control(type='text',placeholder='Количество')
							.form-group
								label(for='') Состояние
								select.form-control
									option Новый
									option Б/у
							.form-group
								label(for='') Цена
								input.form-control(type='number', placeholder='Цена')
							button.addgoods__formsave(type="submit") Продолжить »
		when 'photo'
			- var end;  //- багфикс подсветки
			.addgoods
				.addgoods__steps
					.addgoods__tabs
						.addgoods__tab.addgoods__tab--last Категория
						.addgoods__tab.addgoods__tab--last Основная информация
						.addgoods__tab.addgoods__tab--last  Параметры
						.addgoods__tab.addgoods__tab--active Фото
					.addgoods__body
						form
							.form-group
								label(for='') Выберите фото продукта
								input.form-control-file(type='file')
								small.text-muted В будущем будет возможно добавлять несколько фото
							button.addgoods__formsave(type="submit") Завершить
