.brands
	h2.brands__title Территория брендов
	.brands__descr Покупайте брендированные вещи только у нас
	a.brands__item(href="#" title="имя бренда")
		img(src="assets/img/brands/1.jpg", alt="имя бренда")
	a.brands__item(href="#" title="имя бренда")
		img(src="assets/img/brands/2.jpg", alt="имя бренда")
	a.brands__item(href="#" title="имя бренда")
		img(src="assets/img/brands/3.jpg", alt="имя бренда")
	a.brands__item(href="#" title="имя бренда")
		img(src="assets/img/brands/4.jpg", alt="имя бренда")
	a.brands__item(href="#" title="имя бренда")
		img(src="assets/img/brands/5.jpg", alt="имя бренда")
	a.brands__item(href="#" title="имя бренда")
		img(src="assets/img/brands/6.jpg", alt="имя бренда")
	a.brands__item(href="#" title="имя бренда")
		img(src="assets/img/brands/7.jpg", alt="имя бренда")
	a.brands__item(href="#" title="имя бренда")
		img(src="assets/img/brands/8.jpg", alt="имя бренда")