.breadcrumbs
	ul.breadcrumbs__list
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Все категории
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Мужская одежда и акссуары
		li.breadcrumbs__item
			span.breadcrumbs__text Куртки и пальто