mixin cart(type)
	case type
		when 'cart'
			- var end;  //- багфикс подсветки
				.cart
					h1.cart__title Корзина
					.table-responsive
						table.cart__table
							tr.cart__head
								th.cart__th Наименование и описание товара
								th.cart__th Цена
								th.cart__th Количество
								th.cart__th Стоимость
							each val in [1, 2, 3, 4]
								- var x;
								tr.cart__item
									td.cart__td 
										.cart__product
											.cart__product-img
												img(src="assets/img/cards/card" + val + ".png", alt="")
											.cart__product-descr Детские боди для новорожденных малышей. <br>Любые размеры. <br> Цвет: синий <br>Размер: 68
									td.cart__td 150 сомони/шт.
									td.cart__td 1 шт.
									td.cart__td Стоимость: 150 смн. <br> Стоимость доставки: 20 смн. <br> Общая стоимость: 170 смн.
										a.cart__delete(href="#") Удалить товар
					.cart__total
						span Итого: 5000 сомони
					.cart__order
						a.cart__orderbtn(href="") Оформить заказ
	case type
		when 'order'
			- var end;  //- багфикс подсветки
				.cart
					h1.cart__title Оформление заказа
					.form
						h5 1. Заполните, пожалуйста, ваш адрес доставки:
						.form-group
							label Имя получателя:
							input.form-control(type="text")
						.form-group
							label Город, улица, дом, квартира:
							input.form-control(type="text")
						.form-group
							label Мобильный телефон:
							input.form-control(type="phone")
						.form-group
							label Email:
							input.form-control(type="email")
						h5 2. Удостоверьтесь в правильности деталей доставки:
						.form-group
							label Товары:
							textarea.form-control(type="text",readonly) Товары на сумму 5000 сомони: рубашки красные - 5шт., джинсы - 3 шт.
						h5 3. Примечание к заказу 
						.form-group
							textarea.form-control
						h5 4. Способы оплаты
						.form-group
							label.radio
								input(type="radio" name="radio")
								span.radio__text Оплата при получении
						.cart__order
							button.cart__orderbtn Заказать