mixin category(type)
	case type
		when 1
			.category
				each val, index in { 1: {name: "Брюки"}, 2: {name: "Джинсы"}, 3: {name: "Рубашки"}, 4: {name: "Костюмы и пиджаки"}, 5: {name: "Украшения"}, 6: {name: "Топы и футболки"}, 7: {name: "Пальто и куртки"}, 8: {name: "Толстовки"} }
					- var end; //- багфикс подсветки
					a.category__item(href="#")
						img(src="assets/img/categories/" + index + ".jpg", alt= val)
						h3.category__name= val.name
				- var end;  //- багфикс подсветки
		when 2
			.category
				.category__title Одежда на все случаи жизни
				each val, index in { 9: {name: "Одежда для работы"}, 10: {name: "Одежда для дома"}, 11: {name: "Одежда для отдыха"}, 12: {name: "Одежда для тренировок"} }
					- var end; //- багфикс подсветки
					a.category__item.category__item--alt(href="#")
						img(src="assets/img/categories/" + index + ".jpg", alt= val)
						h3.category__name.category__name--alt= val.name
				- var end;  //- багфикс подсветки
		when 3
			.category
				.category__title Топовые вещи для мужчин
				each val, index in { 13: {name: "Кроссовки"}, 14: {name: "Солнечные очки"}, 15: {name: "Брюки Чинос"}, 16: {name: "Джинсы"}, 17: {name: "Спортивная экипировка"}, 18: {name: "Рубашки Поло"}, 19: {name: "Ботинки"}, 20: {name: "Сумки"}, 21: {name: "Часы"}, 22: {name: "Клетчатые рубашки"}, 23: {name: "Кепки и шапки"}, 24: {name: "Замшевые туфли"}, }
					- var end; //- багфикс подсветки
					a.category__item.category__item--alt(href="#")
						img(src="assets/img/categories/" + index + ".jpg", alt= val)
						h3.category__name.category__name--alt= val.name
				- var end;  //- багфикс подсветки
		default
			- break