.collections 
	.collections__title 
		span Товары по низкой цене
	include collections-list
	a.collections__all(href="#") Смотреть все >
a.ads(href="#")
	img(src="assets/img/banners/banner5.png", alt="баннер")
.collections 
	.collections__title 
		span Новинки
	include collections-list
	a.collections__all(href="#") Смотреть все >
hr.collections__separator
.collections 
	.collections__title 
		span Рекомендуем
	include collections-list
	a.collections__all(href="#") Смотреть все >
hr.collections__separator
.collections 
	.collections__title 
		span Товары по результатам ваших запросов
	include collections-list