.collections__list
	each val, index in { 1: {name: "Джинсовая рубашка", price: "800", image: "card1", label: "new"}, 2: {name: "MacBook Pro", price: "80", image: "card2", label: "hit"}, 3: {name: "Женский пиджак", price: "180", image: "card3", label: "sale"}, 4: {name: "Наушники", price: "130", image: "card4"} }
		- var end; //- багфикс подсветки
		.collections__item
			.card
				if val.label == "sale"
					.card__label.card__label--sale sale
					- var end; //- багфикс подсветки
				else if val.label == "hit"
					.card__label.card__label--hit hit
					- var end; //- багфикс подсветки
				else if val.label == "new"
					.card__label new
					- var end; //- багфикс подсветки
				a(href="#").card__linkimg
					img.card__img(src="assets/img/cards/" + val.image + ".png", alt="card")
				.card__title 
					a(href="#") #{val.name}
				.card__status Состояние товара: новый
				.card__options Доступные расцветки: 7
				hr
				.card__price-tocart
					.card__price #{val.price} смн.
					button.card__tocart
						i.fas.fa-cart-arrow-down
				a.card__wishes(href="") Добавить в мои пожелания