.filters
	form.filters__form(action="" method="get")
		.filters__group
			.filters__item
				.filters__price
					.filters__label Цена: 
					input.filters__input(type="text" name="min" placeholder="мин")
					input.filters__input(type="text" name="max" placeholder="макс")
			.filters__item
				.filters__marker
					input(type="checkbox" name="freeship" id="freeship")
					label.filters__label(for="freeship") Бесплатная доставка
			.filters__item
				.filters__marker
					input(type="checkbox" name="news" id="news")
					label.filters__label(for="news")  Новинки
			.filters__item
				.filters__marker
					input(type="checkbox" name="rating" id="rating")
					label.filters__label(for="rating")  	Высокий рейтинг
			.filters__item
				button.filters__submit(type="submit") Фильтровать