.footer 
	.container-fluid
		a.footer__logo(href="#") FursatShop
		.footer__cols
			.footer__col
				form.footer__form
					h3.footer__formtitle Связаться с нами
					input.footer__forminput(type="text" placeholder="Ваше имя...")
					input.footer__forminput(type="text" placeholder="Email...")
					input.footer__forminput(type="text" placeholder="Телефон...")
					textarea.footer__formtext(type="text" placeholder="Сообщение...")
					button.footer__formsubmit(type="submit") Отправить
			.footer__col
				.footer__mymenu
					h3.footer__mymenutitle Мой аккаунт
					ul.footer__mymenulist
						li.footer__mymenuitem 
							a.footer__mymenulink(href="#") Мой аккаунт
						li.footer__mymenuitem 
							a.footer__mymenulink(href="#") Персональная информация
						li.footer__mymenuitem 
							a.footer__mymenulink(href="#") Мои пожелания
						li.footer__mymenuitem 
							a.footer__mymenulink(href="#") История заказов
						li.footer__mymenuitem 
							a.footer__mymenulink(href="#") Адреса
						li.footer__mymenuitem 
							a.footer__mymenulink(href="#") Скидки
			.footer__col
				.footer__contacts
					h3.footer__contactstitle Контактная информация
					p.footer__contactstext 
						| Компания Fursat <br><br>
						| г. Душанбе, Таджикистан<br>
						| ул. Шамси 4,<br><br>
						| Рабочие дни: Пон-Суб,<br><br>
						| Рабочие часы: с 9:00 до 18:00<br><br>
						| Телефон для справок: +992(98)5809038<br><br>
						| Email: fursat@gmail.com<br><br>
		.footer__copyright © 2018 Fursat.tj  Все права защищены.
script(src = path.js + "/scripts.min.js")