header.header
	.container-fluid
		.header__container
			a.header__logo(href="#") Logo 123
			.header__search
				form.header__searchform
					input.header__searchinput(placeholder='Я ищу...')
					//- .header__searchselect
					//- 	select
					//- 		option Все категории
					//- 		option Мужская одежда и аксессуары
					//- 		option Женская одежда и аксессуары
					button.header__searchbutton <i class="fas fa-search"></i>

			.header__cart
				a.header__cartlink(href="#") <i class="fas fa-cart-arrow-down"></i> 
					span Моя корзина
				a.header__cartlike(href="#") <i class="fas fa-heart"></i>
					span Мои пожелания
			.header__account
				a.header__accountlink(href="#") Войти
				a.header__accountlink(href="#") Регистрация