.container-fluid.contentbg
	.row
		.col-12.col-sm-12.col-md-8.col-lg-10
			.content
				include collections
		.col-12.col-sm-12.col-md-4.col-lg-2
			.sidebar
				a.ads(href="#")
					img(src="assets/img/banners/banner1.png", alt="баннер")
				a.ads(href="#")
					img(src="assets/img/banners/banner2.png", alt="баннер")
				a.ads(href="#")
					img(src="assets/img/banners/banner3.png", alt="баннер")
				a.ads(href="#")
					img(src="assets/img/banners/banner4.png", alt="баннер")
