mixin my(type)
	case type
		when 'profile'
			- var end;  //- багфикс подсветки
				.my
					h1.my__title Личный кабинет
					.my__tabs
						.my__tab.my__tab--active
							a.my__tablink(href="#") Мой профиль
						.my__tab
							a.my__tablink(href="#") Мои товары
						.my__tab
							a.my__tablink(href="#") Мои продажи
							span.my__tablabel 3
						.my__tab
							a.my__tablink(href="#") Мои покупки
					.my__content
						.my__menu
							a.my__menulink.my__menulink--active(href="#") Персональная информация
							a.my__menulink(href="#") Публичная информация
							a.my__menulink(href="#") Пароль
						.my__box
							.row
								.col-xs-12.col-sm-4.col-md-12.col-lg-3
									img.my__avatar(src="assets/img/avatar.jpg", alt="avatar")
									form
										.form-group
											label(for="changeAvatar") Сменить аватар
											input.form-control-file(type="file" id="changeAvatar")
										button.btn.btn-primary Сохранить
										button.btn.btn-warning Удалить
								.col-xs-12.col-sm-8.col-md-12.col-lg-9
									form
										.form-group
											label Имя и фамилия
											input.form-control(type="text" value="Николай Козлов")
										.form-group
											label Email
											input.form-control(type="email" value="nikolay@velkomb.com")
										button.btn.btn-primary Обновить
					hr
					.my__content
						.my__menu
							a.my__menulink(href="#") Персональная информация
							a.my__menulink.my__menulink--active(href="#") Публичная информация
							a.my__menulink(href="#") Пароль
						.my__box
							form
								.form-group
									label Название магазина
									input.form-control(type="text" value="Техника из Китая")
								button.btn.btn-primary Обновить
					hr
					.my__content
						.my__menu
							a.my__menulink(href="#") Персональная информация
							a.my__menulink(href="#") Публичная информация
							a.my__menulink.my__menulink--active(href="#") Пароль
						.my__box
							form
								.form-group
									label Пароль
									input.form-control(type="password" value="Старый пароль")
								.form-group
									label Новый пароль
									input.form-control(type="password" value="Новый пароль")
								.form-group
									label Новый пароль (повтор)
									input.form-control(type="password" value="Новый пароль")
								button.btn.btn-primary Обновить
		when 'goods'
			- var end;  //- багфикс подсветки
				.my
					h1.my__title Мои товары
					.my__tabs
						.my__tab
							a.my__tablink(href="#") Мой профиль
						.my__tab.my__tab--active
							a.my__tablink(href="#") Мои товары
						.my__tab
							a.my__tablink(href="#") Мои продажи
						.my__tab
							a.my__tablink(href="#") Мои покупки 
					.my__content
						.table-responsive
							table.cart__table
								tr.cart__head
									th.cart__th Наименование и описание товара
									th.cart__th Цена
									th.cart__th Стоимость
								each val in [1, 2, 3, 4]
									- var x;
									tr.cart__item
										td.cart__td 
											.cart__product
												.cart__product-img
													img(src="assets/img/cards/card" + val + ".png", alt="")
												.cart__product-descr Детские боди для новорожденных малышей. <br>Любые размеры. <br> Цвет: синий <br>Размер: 68
										td.cart__td 150 сомони/шт.
										td.cart__td Стоимость: 150 смн. <br> Стоимость доставки: 20 смн. <br> Общая стоимость: 170 смн.
											a.cart__delete(href="#") Удалить товар
											a.cart__delete(href="#") Изменить товар
						nav(style='width:100%')
							ul.pagination.justify-content-center
								li.page-item
									a.page-link(href='#') Предыдущая
								li.page-item
									a.page-link(href='#') 1
								li.page-item
									a.page-link(href='#') 2
								li.page-item
									a.page-link(href='#') 3
								li.page-item
									a.page-link(href='#') Следующая
		when 'selling'
			- var end;  //- багфикс подсветки
				.my
					h1.my__title Мои товары
					.my__tabs
						.my__tab
							a.my__tablink(href="#") Мой профиль
						.my__tab
							a.my__tablink(href="#") Мои товары
						.my__tab.my__tab--active
							a.my__tablink(href="#") Мои продажи
							span.my__tablabel 3
						.my__tab
							a.my__tablink(href="#") Мои покупки
					.my__content
						table.table.table-striped.table-bordered
							thead
								tr
									th Номер заказа
									th К заказу
									th Заказчик
									th Статус
							tbody
								tr
									td 20
									td
										a.btn.btn-primary.btn-lg(href='#') Открыть
									td
										span
											| 2018-05-04 17:34:52
											br
											| Николай Козлов  @ikomb
											br
											| 938000989
											br
											| Район Шохмансур, ТАДЖИКИСТАН, Район Шохмансур, Айни , дом 82, корпус 2, кв 12
									td
										span.badge.badge-pill.badge-danger новый заказ
								tr
									td 19
									td
										a.btn.btn-primary.btn-lg(href='#') Открыть
									td
										span
											| 2018-04-26 12:40:51
											br
											| Махмадаминов Шамшод
											br
											| 938000989
											br
											| ул. Ниссор Мухаммад, 25
									td
										span.badge.badge-pill.badge-success выполнен
								tr
									td 18
									td
										a.btn.btn-primary.btn-lg(href='#') Открыть
									td
										span
											| 2018-04-26 01:14:32
											br
											| Николай С
											br
											| 938000989
											br
											| ул. Маяковского, д.52, кв.46
									td
										span.badge.badge-pill.badge-success выполнен
						nav(style="width:100%")
							ul.pagination
								li.page-item
									a.page-link(href='#') Предыдущая
								li.page-item
									a.page-link(href='#') 1
								li.page-item
									a.page-link(href='#') 2
								li.page-item
									a.page-link(href='#') 3
								li.page-item
									a.page-link(href='#') Последующая
		when 'single-selling'
			- var end;  //- багфикс подсветки
				.my
					h1.my__title Мои товары
					.my__tabs
						.my__tab
							a.my__tablink(href="#") Мой профиль
						.my__tab
							a.my__tablink(href="#") Мои товары
						.my__tab.my__tab--active
							a.my__tablink(href="#") Мои продажи
							span.my__tablabel 3
						.my__tab
							a.my__tablink(href="#") Мои покупки
					.my__orders
						h2 Заказ №: 20 (новый заказ)
						hr
						.btn-group
							a.btn.btn-secondary(href='#') Новый
							a.btn.btn-secondary(href='#') В обработке
							a.btn.btn-secondary(href='#') Выполнен
							a.btn.btn-danger(href='#') Удалить
						br
						table.table.table-striped
							thead
								tr
									th #
									th Продукт
									th Количество
									th Сумма
							tbody
								tr
									td 1
									td
										img(height='50', src='assets/img/cards/card1.png', alt='Пицца «Анкона»')
										|                          Пицца «Анкона» (средняя)
									td 1 шт.
									td 58 сомони
								tr
									td 2
									td
										img(height='50', style='margin-right: 10px;', src='assets/img/cards/card2.png', alt='Пицца «Пепперони»')
										|                          Пицца «Пепперони» (маленькая)
									td 1 шт.
									td 39 сомони
								tr
									td 3
									td
										img(height='50', style='margin-right: 10px;', src='assets/img/cards/card3.png', alt='Пицца «Римини»')
										|                          Пицца «Римини» (маленькая)
									td 1 шт.
									td 44 сомони
								tr
									td(colspan='3') Итого:
									td 141 сомони
						hr
						table.table.table-striped.table-bordered.detail-view
							tbody
								tr
									th Дата заказа: 
									td 2018-05-04 17:34:52
								tr
									th Заказчик:
									td Николай Козлов  @ikomb
								tr
									th Телефон:
									td 938000989
								tr
									th Адрес доставки: 
									td Район Шохмансур, ТАДЖИКИСТАН, Район Шохмансур, Айни , дом 82, корпус 2, кв 12
								tr
									th Ориентиры:
									td мома
								tr
									th Дополнительная инфа:
									td  дополнительно