.product
	.product__carousel
		img(src="assets/img/goodsgallery/img.jpg", alt="")
	.product__details
		h1.product__title Детские боди для новорожденных малышей. Любые размеры.
		.product__seller Продавец: Джамшед
		.product__state Состояние товара: Новый
		.product__category Категория: Детская одежда и аксессуары
		form.product__form
			.product__formfields
				.product__formgroup
					label.product__label Количество
					input(type="number" value="1")
				.product__formgroup
					label.product__label Размер
					select
						option 21-25
						option 25-27
						option 27-29
				.product__formgroup
					label.product__label Цвета
					.product__imageattrs
						.product__inputgroup
							img(src="assets/img/product/productattr1.jpg", alt="красный")
							span красный
							input(type="radio")
						.product__inputgroup
							img(src="assets/img/product/productattr2.jpg", alt="желтый")
							span желтый
							input(type="radio")
						.product__inputgroup
							img(src="assets/img/product/productattr3.jpg", alt="зеленый")
							span зеленый
							input(type="radio")
			.product__formdetails
				.product__formprice 150 сомони
				button.product__formbutton.product__formbutton--yellow(href="#") Купить сейчас
				button.product__formbutton(href="#") В мои пожелания
				button.product__formbutton(href="#") Добавить в корзину
	.product__description
		.product__description-text
			.product__tab Характеристики товара
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis aute irure dolor in reprehenderit in voluptate velit Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			p.
			| Производитель:   H&M <br>
			| Страна-производитель:   Швеция <br>
			| Вид изделия:   Боди-футболка <br>
			| Пол:   Для мальчиков и девочек <br>
			| Размер детской одежды:   6-9 (74 см) <br>
			| Тип ткани:   Трикотаж <br>
			| Состав:   100 % хлопок <br>
			| Застежка:   Кнопки <br>
			| Длина рукава:   Короткий <br>
			| Состояние:   Новое <br>
		.product__banner
			img(src="assets/img/product/banner.jpg", alt="баннер")