mixin sellerinfo(type)
	case type
		when 'agreement'
			- var end;  //- багфикс подсветки
			.sellerinfo
				h1.sellerinfo__title Настройка аккаунта продавца
				form.sellerinfo__form
					.form-group
						label(for='') Имя продавца
						input.form-control(type='text' placeholder='Имя продавца')
					.form-check
						input.form-check-input(type='checkbox')
						label.form-check-label(for='') Я ознакомился с <a href="#">правилами и условиями сайта Fursat.TJ</a>
					button.sellerinfo__submit(type='submit') Отправить
		when 'info'
			- var end;  //- багфикс подсветки
			.sellerinfo
				h1.sellerinfo__title Информация о вашем бизнесе
				form.sellerinfo__form
					.form-group
						label(for='') Адрес вашего бизнеса
						input.form-control(type='text' placeholder='страна, город, улица')
					.form-group
						label(for='') Название вашего бизнеса
						input.form-control(type='text' placeholder='название')
					button.sellerinfo__submit(type='submit') Отправить
		when 'deposit'
			- var end;  //- багфикс подсветки
			.sellerinfo
				h1.sellerinfo__title Банковские реквизиты
				form.sellerinfo__form
					.form-group
						label(for='') Банк получатель
						input.form-control(type='text' placeholder='АО «Тинькофф Банк»')
					.form-group
						label(for='') Корреспондетский счет
						input.form-control(type='text' placeholder='30101810145250000974')
					.form-group
						label(for='') БИК
						input.form-control(type='text' placeholder='044525974')
					.form-group
						label(for='') Получатель
						input.form-control(type='text' placeholder='Козлов Николай Сергеевич')
					.form-group
						label(for='') Счет получателя платежа
						input.form-control(type='text' placeholder='40820810600000087709')
					button.sellerinfo__submit(type='submit') Отправить
		when 'tax'
			- var end;  //- багфикс подсветки
			.sellerinfo
				h1.sellerinfo__title Информация о налогах
				form.sellerinfo__form
					.form-group
						label(for='') ИНН
						input.form-control(type='text' placeholder='')
					.form-group
						label(for='') Имя налогоплательщика
						input.form-control(type='text' placeholder='')
					button.sellerinfo__submit(type='submit') Отправить
		when 'produts'
			- var end;  //- багфикс подсветки
			.sellerinfo
				h1.sellerinfo__title В каких категориях продуктов вы хотите осущствлять продажу
				form
					.addgoods__formcategories
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Авто и мото
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Часы
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Компьютерная техника и ПО
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Товары для дома и сада
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Авто и мото
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Часы
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Компьютерная техника и ПО
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Товары для дома и сада
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Авто и мото
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Часы
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Компьютерная техника и ПО
						.addgoods__formgroup
							label.checkbox
								input(type="checkbox")
								span.checkbox__text Товары для дома и сада
					button.sellerinfo__submit(type='submit') Отправить
		when 'contract'
			- var end;  //- багфикс подсветки
			.sellerinfo
				h1.sellerinfo__title Отлично! Ознакомьтесь с соглашением!
				form.sellerinfo__form
					| здесь будет контракт
					button.sellerinfo__submit(type='submit') Согласен
		when 'thankyou'
			- var end;  //- багфикс подсветки
			.sellerinfo
				h1.sellerinfo__title Спасибо за регистрацию!
				form.sellerinfo__form
					button.sellerinfo__submit(type='submit') Начать продавать