mixin sellersteps(type)
	case type
		when 'agreement'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'info'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'deposit'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'tax'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'products'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'final'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 5
					.sellersteps__text Информация о продукте