mixin sign(type)
	case type
		when 'signup'
			- var end;  //- багфикс подсветки
				.sign
					h1.sign__title Создание нового профиля
					form.sign__form
						.sign__formgroup
							label.sign__formlabel Ваша электронная почта
							input.sign__forminput(type="text" placeholder="ваш email")
						.sign__formgroup
							label.sign__formlabel Ваше имя
							input.sign__forminput(type="text" placeholder="ваше имя")
						.sign__formgroup
							label.sign__formlabel Ваша фамилия
							input.sign__forminput(type="text" placeholder="ваша фамилия")
						.sign__formgroup
							label.sign__formlabel Введите ваш пароль
							input.sign__forminput(type="password" placeholder="ваш пароль")
						.sign__formgroup
							label.sign__formlabel Подтвердите пароль
							input.sign__forminput(type="password" placeholder="подтверждение пароля")
						button.sign__formsubmit(href="#") Создать профиль
		when 'signin'
			- var end;  //- багфикс подсветки
				.sign
					h1.sign__title Войти в систему
					form.sign__form
						.sign__formgroup
							label.sign__formlabel Ваш email (логин)
							input.sign__forminput(type="text" placeholder="ваш email")
						.sign__formgroup
							label.sign__formlabel Ваш пароль
							input.sign__forminput(type="password" placeholder="ваш пароль")
						button.sign__formsubmit(href="#") Войти
						.sign__formlinks
							a.sign__formlink(href="#") Забыли пароль
							a.sign__formlink(href="#") Зарегистрироваться
		when 'remember'
			- var end;  //- багфикс подсветки
				.sign
					h1.sign__title Восстановление пароля
					form.sign__form
						.sign__formtext Чтобы восстановить ваш пароль, вам необходимо ввести имя вашей учетной записи
						.sign__formgroup
							label.sign__formlabel Ваш email (логин)
							input.sign__forminput(type="text" placeholder="ваш email")
						button.sign__formsubmit(href="#") Запросить пароль
		when 'confirm'
			- var end;  //- багфикс подсветки
				.sign
					h1.sign__title Подтверждение email
					p На ваш email отправлено письмо с ссылкой для подтверждения. Пожалуйста откройте письмо и перейдите по ссылке.
		when 'thank'
			- var end;  //- багфикс подсветки
				.sign
					h1.sign__title Регистрация завершена
					p Спасибо, вы подтвердили вашу регистрацию. Теперь вы можете войти в ваш аккаунт с логином и паролем.
