.sorting
	a.sorting__item(href="") Лучший выбор
	a.sorting__item(href="") Заказы
	a.sorting__item(href="") Новинки
	a.sorting__item.sorting__item--active(href="") Цена (возраст)
	a.sorting__item(href="") Цена (убыв)
	a.sorting__item(href="") Рейтинг продавца