extends layouts/main

block body
	include components/header
	include components/nav
	.addgoodspage
		.addgoodspage__content
			.addgoodspage__title Добавление товара (категория)
			include components/addgoods
			+addgoods('photo')
	a.totop(href="#")  Наверх
	include components/footer