extends layouts/admin

block title
	| Товары

mixin btns
	.btn-group.btn-group-sm
		a.btn.btn-secondary.btn-primary(href="admin-goods-single.html") Просмотреть

block body
	include components-admin/nav
	.container-fluid
		.table-responsive.mb-2
			table.table
				thead
					tr
						th(scope='col') #
						th(scope='col') Наименование товара
						th(scope='col') Продавец
						th(scope='col') Действия
				tbody
					tr
						th(scope='row') 1
						td 	
							img.mr-5(width="50" src='assets/img/cards/card1.png', alt='card')
							| Джинсовая рубашка
							.badge.badge-pill.badge-warning 50 смн
						td 
							a.btn.btn-outline-secondary.btn-sm(href="admin-users-single.html") Николай Козлов
						td 
							+btns
							

					tr
						th(scope='row') 2
						td
							img.mr-5(width="50" src='assets/img/cards/card2.png', alt='card')
							| MacBook Pro
							.badge.badge-pill.badge-warning 11560 смн
						td 
							a.btn.btn-outline-secondary.btn-sm(href="admin-users-single.html") Шоди Рашидбеков
						td 
							+btns
					tr
						th(scope='row') 3
						td
							img.mr-5(width="50" src='assets/img/cards/card3.png', alt='card')
							| Женский пиджак
							.badge.badge-pill.badge-warning 130 смн
						td 
							a.btn.btn-outline-secondary.btn-sm(href="admin-users-single.html") Некбахт Забиров
						td 
							+btns
		nav.align-center.d-flex.justify-content-center
			ul.pagination
				li.page-item
					a.page-link(href='#') 1
				li.page-item
					a.page-link(href='#') 2
				li.page-item
					a.page-link(href='#') 3
