extends layouts/admin

block title
	| Товар

block body
	include components-admin/nav
	.container-fluid
		a.btn.btn-primary.btn-sm.mb-5(href='admin-goods.html') « К списку товаров
		.clearfix
		.btn-group.btn-group-sm.mb-3
			a.btn.btn-outline-danger(href="admin-goods-single.html") Нет аттр.
			a.btn.btn-outline-danger(href="admin-goods-single.html") Новинка
			a.btn.btn-danger(href="admin-goods-single.html") Распродажа
			a.btn.btn-outline-danger(href="admin-goods-single.html") Хит
		.card
			.card-body
				img.mb-5(width="150" src='assets/img/cards/card2.png', alt='card')
				h5.card-title MacBook Pro 
					.badge.badge-pill.badge-warning 11150 смн
				h6.card-subtitle.mb-2.text-muted 25.05.2018
				p.card-text
					| MacBook Pro с процессорами Intel Core седьмого поколения и ускорением Turbo Boost до 4,1 ГГц обеспечивает впечатляющую производительность. Поэтому вы сможете работать быстрее, даже когда речь идёт о самых ресурсоёмких проектах, например о рендеринге 3D‑моделей и кодировании видео. А когда вы выполняете простые задачи, просматриваете веб‑страницы или работаете с электронной почтой, устройство экономит заряд аккумулятора. Аппаратное ускорение для 10‑битного стандарта HEVC реализовано в каждом MacBook Pro, и это позволяет в полной мере пользоваться преимуществами улучшенного сжатия видео 4К и ускоренного стриминга в macOS High Sierra.
				a.card-link(href='admin-users-single.html') Продавец: Николай Козлов
				a.card-link(href='#') Страница на сайте
		
		
