extends layouts/admin

block title
	| Авторизация в админку

block body
	.container-fluid.d-flex.justify-content-center.align-items-center(style="height:100vh")
		form(action="admin-main.html")
			.form-group
				label(for='login') Логин
				input#login.form-control(type='text', placeholder='Логин')
				small#emailHelp.form-text.text-muted Не ошибитесь!
			.form-group
				label(for='password') Пароль
				input#password.form-control(type='password', placeholder='Пароль')
			button.w-100.btn.btn-primary.align-self-center(type='submit') Войти
			
