extends layouts/admin

block title
	| Пользователь

block body
	include components-admin/nav
	.container-fluid
		a.btn.btn-primary.btn-sm.mb-5(href='admin-users.html') « К списку пользователей
		.card.mb-5
			.card-body
				h5.card-title Николай Козлов
					.badge.badge-warning продавец
				h6.card-subtitle.mb-2.text-muted 25.05.2018
				p.card-text
					| У пользователя 5 опубликованных товаров
				a.card-link(href='#') nikolay@velkomb.com
				a.card-link(href='#') Страница на сайте
		h5.card-title Банковская информация
		.table-responsive.mb-3
			table.table.table-sm.table-striped
					tbody
						tr
							td Банк получатель
							th АО «Тинькофф Банк»
						tr
							td Корр. счёт
							th 30101810145250000974
						tr
							td БИК
							th 044525974
						tr
							td Получатель
							th Козлов Николай Сергеевич
						tr
							td Счёт получателя платежа
							th 40820810600000087709
		h5.card-title Налоговая информация
		.table-responsive
			table.table.table-sm.table-striped
					tbody
						tr
							td ИНН
							th 044525974
						tr
							td Имя налогоплательщика
							th Козлов Николай Сергеевич
		
