extends layouts/admin

block title
	| Общая картина

block body
	include components-admin/nav
	.container-fluid
		.row
			.col-sm-6
				.card.mb-2
					.card-body
						h5.card-title Пользователи
						p.card-text Число зарегистрированных пользователей – 
							span.badge.badge-secondary.badge-pill 57
						a.btn.btn-primary(href='admin-users.html') К пользователям
			.col-sm-6
				.card.mb-2
					.card-body
						h5.card-title Товары
						p.card-text Количество загруженных товаров - 
							span.badge.badge-secondary.badge-pill 854
						a.btn.btn-primary(href='admin-goods.html') К товарам
