extends layouts/admin

block title
	| Пользователи

mixin btns
	.btn-group.btn-group-sm
		a.btn.btn-secondary(href="admin-users-single.html") Просмотреть

block body
	include components-admin/nav
	.container-fluid
		.table-responsive.mb-2
			table.table
				thead
					tr
						th(scope='col') #
						th(scope='col') Данные
						th(scope='col') Продавец
						th(scope='col') Действия
				tbody
					tr
						th(scope='row') 1
						td Николай Козлов <br> 
							span.badge.badge-pill.badge-warning nikolay@velkmb.com
							span.badge.badge-pill.badge-light 24.02.2018 
						td да
						td 
							+btns
							

					tr
						th(scope='row') 2
						td Некбахт Забиров <br> 
							span.badge.badge-pill.badge-warning nekadev@gmail.com
							span.badge.badge-pill.badge-light 24.02.2018 
						td да
						td 
							+btns
					tr
						th(scope='row') 3
						td Шоди Рашидбеков <br> 
							span.badge.badge-pill.badge-warning shodirashidbekov@gmail.com
							span.badge.badge-pill.badge-light 24.02.2018 
						td 
						td 
							+btns
		nav.align-center.d-flex.justify-content-center
			ul.pagination
				li.page-item
					a.page-link(href='#') 1
				li.page-item
					a.page-link(href='#') 2
				li.page-item
					a.page-link(href='#') 3
