extends layouts/main

block body
	include components/header
	include components/nav
	.cartpage
		.cartpage__content
			include components/cart
			+cart('cart')
	a.totop(href="#")  Наверх
	include components/footer