extends layouts/main

block body
	include components/header
	include components/nav
	.categorypage
		include components/breadcrumbs
		.categorypage__content 
			include components/filters
			include components/sorting			
			hr.separator
			include components/collections-list
			include components/collections-list
			include components/collections-list
			include components/collections-list
	a.totop(href="#")  Наверх
	include components/footer