extends layouts/main

block body
	include components/header
	include components/nav
	.categoriespage
		h1.categoriespage__title Мужская одежда и аксессуары
		.catrgoriespage__content
			include components/category
			+category(1)
			hr.separator.separator--tr
			+category(2)
			hr.separator
			+category(3)
			hr.separator
			include components/brands
	a.totop(href="#")  Наверх
	include components/footer