extends layouts/main

block body
	include components/header
	include components/nav
	.goodspage
		include components/breadcrumbs
		.goodspage__content
			include components/product
			hr.separator
		.goodspage__content.goodspage__content--white
			include components/collections-list
	a.totop(href="#")  Наверх
	include components/footer