extends layouts/main

block body
    style
        | img{display:block; max-width: 200px;}

    h1(style="font-size:18px") Структура страниц
    h2(style="font-size:15px") Блоки
    ul
        li header.header - шапка
        li nav.nav - меню
        li .carousel - карусель
            img(src="assets/img/blocks/carousel.png")
        li .main - главная область
            ul
                li .collections - коллекция
                   ul
                       li .products.products--carousel
                            ul
                                li .product - продукт
                       li .sidebar - сайдбар
        li footer.footer - футер
        li .password-recovery
            img(src="assets/img/blocks/forgot.png")
        li .signin
            img(src="assets/img/blocks/signin.png")
        li .signup
            img(src="assets/img/blocks/signup.png")
        h2 Seller
        li seller-header
            img(src="assets/img/blocks/seller-header.png")
        li .agreement
            img(src="assets/img/blocks/agreement.png")
        li .seller-info
            img(src="assets/img/blocks/seller-info.png")
        li .seller-card
            img(src="assets/img/blocks/seller-card.png")
        li .seller-tax
            img(src="assets/img/blocks/seller-tax.png")
        li .seller-productinfo
            img(src="assets/img/blocks/seller-productinfo.png") 
        li .seller-lastagreement
        li .seller-successfully
            img(src="assets/img/blocks/seller-successfully.png")
        h2 Add goods
        li .add-goods
            img(src="assets/img/blocks/add-goods.png")
            ul
                li .choose-category
                    img(src="assets/img/blocks/choose-category.png")
                li .basic-info
                    img(src="assets/img/blocks/basic-info.png")
        li .add-goods-2
            img(src="assets/img/blocks/add-goods-2.png")
        h2 Food
        li .food-bg-pic
            img(src="assets/img/blocks/bg-pic.png")
        li .food-advantages
           img(src="assets/img/blocks/food-advantages.png")
        li .food-main
            ul
                li .food-leftside 
                  img(src="assets/img/blocks/food-leftside.png")
                li .food-station 
                    img(src="assets/img/blocks/food-station.png")
        li .food-search
            img(src="assets/img/blocks/food-search.png")

    h2(style="font-size:15px") Страницы
    ol
        li Main Page - <a href="index.html">index.html </a>
            //ul Блоки
            //    li header.header - шапка
            //    li nav.nav - меню
            //    li .carousel - карусель
            //    li .main - главная область
            //        ul
            //            li .collections - коллекция
            //                ul
            //                    li .products.products--carousel
            //                        ul
            //                            li .product - продукт
            //            li .sidebar - сайдбар
            //    li footer.footer - футер

        li Категории - <a href="categories.html">categories.html</a>
            //ul Блоки
            //    li header.header - шапка
            //    li nav.nav - меню
            //    li .main - главная область
            //        ul
            //            li .collections - коллекция
            //                ul
            //                    li .categories
            //                        ul
            //                            li .category
            //
            //            li .sidebar - сайдбар
            //    li footer.footer - футер
        li Категория - <a href="category.html">category.html</a>
        li Товар - <a href="goods.html">goods.html</a>
        li Корзина - <a href="cart.html">cart.html</a>
        li Оформление заказа - <a href="order.html">order.html</a>
        hr
        li Регистрация - <a href="signup.html">signup.html</a>
        li Вход - <a href="signin.html">signin.html</a>
        li Восстановление доступа - <a href="forgot.html">forgot.html</a>
        hr
        li Кабинет (заказы) - <a href="my-orders.html">my-orders.html</a>
        li Кабинет (персональная информация) - <a href="my-info.html">my-info.html</a>
        li Кабинет (отзывы) - <a href="my-reviews.html">my-reviews.html</a>
        li Кабинет (профиль) - <a href="my-profile.html">my-profile.html</a>
        li Кабинет (пожелания) - <a href="my-wishes.html">my-wishes.html</a>
        li Кабинет (смена пароля) - <a href="my-password.html">my-password.html</a>
        li Кабинет (просмотренные товары) - <a href="my-viewed.html">my-viewed.html</a>
        li Кабинет (история заказов) - <a href="my-history.html">my-history.html</a>
        hr
        li Аккаунт продавца (имя) - <a href="seller-join.html">seller-join.html</a>
        li Аккаунт продавца (информация) - <a href="seller-info.html">seller-info.html</a>
        li Аккаунт продавца (счет) - <a href="seller-card.html">seller-card.html</a>
        li Аккаунт продавца (счет) - <a href="seller-tax.html">seller-tax.html</a>
        li Аккаунт продавца (категории) - <a href="seller-cats.html">seller-cats.html</a>
        li Аккаунт продавца (договор) - <a href="seller-contract.html">seller-contract.html</a>
        li Аккаунт продавца (завершено) - <a href="seller-thankyou.html">seller-thankyou.html</a>
        hr
        li Добавление товара (основное) - <a href="addgoods-main.html">addgoods-main.html</a>
        li Добавление товара (параметры) - <a href="addgoods-params.html">addgoods-params.html</a>
        li Добавление товара (предложения) - <a href="addgoods-price.html">addgoods-price.html</a>
        li Добавление товара (фото) - <a href="addgoods-photo.html">addgoods-photo.html</a>
        li Добавление товара (описание) - <a href="addgoods-descr.html">addgoods-descr.html</a>
        li Добавление товара (детали) - <a href="addgoods-details.html">addgoods-details.html</a>
        hr
        li Добавление товара (одна страница) - <a href="addgoods.html">addgoods.html</a>
        hr
        li Еда (заведения) - <a href="food-places.html">food-places.html</a>
        li Еда (поиск) - <a href="food-search.html">food-search.html</a>
        li Еда (категории заведений) - <a href="food-placetype.html">food-placetype.html</a>
        li Еда (меню) - <a href="food-menu.html">food-menu.html</a>
        li Еда (заказ) - <a href="food-order.html">food-order.html</a>
    include components/footer.pug