extends layouts/main

block body
	include components/header
	include components/nav
	.mypage
		.mypage__content
			include components/my
			+my('selling')
	a.totop(href="#")  Наверх
	include components/footer