extends layouts/main

block body
	include components/header
	include components/nav
	.sellerpage
		include components/sellersteps
		+sellersteps('tax')
		.sellerpage__content
			include components/sellerinfo
			+sellerinfo('tax')
	a.totop(href="#")  Наверх
	include components/footer