extends layouts/main

block body
	include components/header
	include components/nav
	.signpage
		.signpage__content
			include components/sign
			+sign('thank')
	a.totop(href="#")  Наверх
	include components/footer