extends layouts/main

block body
	include components/header
	include components/nav
	.notice Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum excepturi quasi cum atque commodi beatae sit velit, perspiciatis nulla esse quos quod exercitationem reiciendis enim quas pariatur assumenda repellendus repellat!
	.signpage
		.signpage__content
			include components/sign
			+sign('signup')
	a.totop(href="#")  Наверх
	include components/footer