nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-5
		//- a.navbar-brand(href='#') Панелька
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarNavAltMarkup.collapse.navbar-collapse
			.navbar-nav
				a.nav-item.nav-link.active(href='admin-main.html') Общая картина 
				a.nav-item.nav-link(href='admin-users.html') Пользователи
				a.nav-item.nav-link(href='admin-goods.html') Товары
		.navbar-nav.my-2.my-lg-0
			a.nav-item.nav-link(href='admin-login.html') Выход