
<div class="sellersteps"> 
  <div class="sellersteps__step sellersteps__step--active">
    <div class="sellersteps__number">1</div>
    <div class="sellersteps__text">Соглашение продавца</div>
  </div>
  <div class="sellersteps__step">
    <div class="sellersteps__number">2</div>
    <div class="sellersteps__text">Информация о продавце</div>
  </div>
  <div class="sellersteps__step">
    <div class="sellersteps__number">3</div>
    <div class="sellersteps__text">Счет и депозит</div>
  </div>
  <div class="sellersteps__step">
    <div class="sellersteps__number">4</div>
    <div class="sellersteps__text">Информация о налогах</div>
  </div>
  <div class="sellersteps__step">
    <div class="sellersteps__number">5</div>
    <div class="sellersteps__text">Информация о продукте</div>
  </div>
</div>